@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-Kumbh: "Kumbh Sans", serif;

  --color-primary-400: hsl(26, 100%, 55%);
  --color-primary-100: hsl(25, 100%, 94%);

  --color-secondary-900: hsl(220, 13%, 13%);
  --color-secondary-400: hsl(219, 9%, 45%);
  --color-secondary-200: hsl(220, 14%, 75%);
  --color-secondary-100: hsl(223, 64%, 98%);
}
